@charset "utf-8";

.index *{
    /*设置内嵌的元素在 3D 空间如何呈现：保留 3D*/
    -webkit-transform-style: preserve-3d;
    /*（设置进行转换的元素的背面在面对用户时是否可见：隐藏）*/
    -webkit-backface-visibility: hidden;
}

.index{
    opacity: 0;
}

#dreambox{
    width: 100%;
    height: auto;
    background: #000;
    position: relative;
}

.bg {
    width: 100%;
    height: 100%;
    background: url("../img/bg.jpg") 0 0 no-repeat;
    background-size: auto 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index:2;
}

/*Clicking the label will select the checkbox which will be used to
trigger the animation of the horses*/

.bg.startAnimate {
    -webkit-animation: horse-ride 950ms steps(14, end) 1;
    /*-webkit-animation-delay: 100ms;*/
    -moz-animation: horse-ride 950ms steps(14, end) 1;
    /*-moz-animation-delay: 100ms;*/
    /*Lets add a pre-anim which will start slowly and merge into the fast animation*/
    background-position: 0 100%;
    -webkit-transition: all 6s cubic-bezier(.19, .64, .45, .89);
    -moz-transition: all 6s cubic-bezier(.19, .64, .45, .89);

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
}

/*804px is the width of the image with 12 horse frames
steps are used in the animation to have the best animation effect
it will position the horse frames accurately in the boxes instead of
tweening it px by px all the way through*/
@-webkit-keyframes horse-ride {
    0% {background-position: 0 0;}
    100% {background-position: 100% 0;}
}
@-moz-keyframes horse-ride {
    0% {background-position: 0 0;}
    100% {background-position: 100% 0;}
}


/* light */
.light{
    width: 50%;
    height: 25%;
    position: absolute;
    left: 50%;
    top: 67%;
    background: url("../img/light.png") 0 0 no-repeat;
    background-size: auto 100%;
    margin: 0 0 0 -25%;

    -webkit-transition: all 6s cubic-bezier(.19, .64, .45, .89);
    -moz-transition: all 6s cubic-bezier(.19, .64, .45, .89);
}

.bg.startAnimate .light, .light.startAnimate {
    -webkit-animation: light-ride 900ms steps(23, end) 1;
    -webkit-animation-delay: 900ms;
    -moz-animation: light-ride 900ms steps(23, end) 1;
    -moz-animation-delay: 900ms;
    /*Lets add a pre-anim which will start slowly and merge into the fast animation*/
    background-position: 0 100%;
    
    /*-webkit-transition: all 2.5s ease-in;*/
    /*-moz-transition: all 2.5s ease-in;*/

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
}

@-webkit-keyframes light-ride {
    0% {background-position: 0 0;}
    100% {background-position: 100% 0;}
}
@-moz-keyframes light-ride {
    0% {background-position: 0 0;}
    100% {background-position: 100% 0;}
}


/* ring */

/*@-webkit-keyframes ring-ride {
    0% {background-position: 0 0;}
    100% {background-position: 0 100%;}
}

@-moz-keyframes ring-ride {
    0% {background-position: 0 0;}
    100% {background-position: 0 100%;}
}
*/

.ring{
    width: 52%;
    height: 46%;
    position: absolute;
    left: 50%;
    top: 30%;
    /*background: url("../img/ring.png") 0 0 no-repeat;
    background-size: auto 100%;*/
    margin: 0 0 0 -26%;
    -webkit-transition: all 6s cubic-bezier(.19, .64, .45, .89);
    -moz-transition: all 6s cubic-bezier(.19, .64, .45, .89);
}

/*
.bg.startAnimate .ring {
    -webkit-animation: horse-ride 1650ms steps(17, end) 1;
    -webkit-animation-delay: 300ms;
    -moz-animation: horse-ride 1650ms steps(17, end) 1;
    -moz-animation-delay: 300ms;
    /*Lets add a pre-anim which will start slowly and merge into the fast animation*/
   /* background-position: 0 100%;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;*/
/*}
*/

.logo{
    width: 100%;
    position: absolute;
    left: 0;
    top: 5%;
    z-index: 6;
    text-align: center;
}

.logo img{
    width: 100%;
}

.activeTips{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 9%;
}


/* video */
.videoCon{
    width: 100%;
    height: 36%;
    position: absolute;
    left: 0;
    top: 36%;
    overflow: hidden;
    opacity: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
    background: #000;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
    background: none;
    right: 0;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
    background: none;
    left: 0;
}

.swiper-button-next, .swiper-button-prev{
    width: 16%;
    height: auto;
    margin-top: -15%;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
    opacity: 0;
}

.video{
    width: 100%; 
}

.morebtn{
    position: absolute;
    left: 50%;
    bottom: 6%;
    left: 0;
    width: 100%;
}


/* 6plus */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
    #dreambox{
        min-height: 100%;
    }

}

/* 6 */
@media only screen and (min-device-width: 375px) and (max-device-width: 410px) and (orientation: portrait) {
    #dreambox{
        min-height: 100%;
    }
}



/* 4s */
@media handheld and (min-height:400px),screen and (max-height:420px) {
    .logo img{
        width: 90%;
    }

    .ring{
        width: 45%;
        height: 42%;
        position: absolute;
        left: 50%;
        top: 27%;
        /*background: url("../img/ring.png") 0 0 no-repeat;
        background-size: auto 100%;*/
        margin: 0 0 0 -22.5%;
    }

    /* light */
    .light{
        width: 40%;
        height: 20%;
        position: absolute;
        left: 50%;
        top: 60%;
        background: url("../img/light.png") 0 0 no-repeat;
        background-size: auto 100%;
        margin: 0 0 0 -20%;

        -webkit-transition: all 6s cubic-bezier(.19, .64, .45, .89);
        -moz-transition: all 6s cubic-bezier(.19, .64, .45, .89);
        z-index: 2;
    }

    .activeTips{
        bottom: 22%;
    }


    .videoCon{
        top: 30%;
    }

    .morebtn{
        bottom: 16%;
    }

}



/*

.bg.startAnimate .ring {
  -webkit-animation-name: anim-name;
  -webkit-animation-duration: 1800ms
}


@-webkit-keyframes anim-name{
    0%{  
        background-position: 0 0;
        background-size: auto 100%;
     }
    5.9%{  
        background-position: 5.89% 0;
        background-size: auto 100%;
    }
    11.8%{  
        background-position: 11.67% 0;
        background-size: auto 100%;
    }
    17.7%{  
        background-position: 17.53% 0;
        background-size: auto 100%;
    }
    23.6%{  
        background-position: 23.36% 0;
        background-size: auto 100%;
    }
    29.5%{  
        background-position: 29.19% 0;
        background-size: auto 100%;
    }
    35.4%{  
        background-position: 35.04% 0;
        background-size: auto 100%;
    }
    41.3%{  
        background-position: 40.91% 0;
        background-size: auto 100%;
    }
    47.2%{  
        background-position: 46.72% 0;
        background-size: auto 100%;
    }
    53.1%{  
        background-position: 52.57% 0;
        background-size: auto 100%;
    }
    59%{  
        background-position: 58.38% 0;
        background-size: auto 100%;
    }
    64.9%{  
        background-position: 64.27% 0;
        background-size: auto 100%;
    }
    70.8%{  
        background-position: 70.09% 0;
        background-size: auto 100%;
    }
    76.7%{  
        background-position: 75.95% 0;
        background-size: auto 100%;
    }
    82.6%{  
        background-position: 81.78% 0;
        background-size: auto 100%;
    }
    88.5%{  
        background-position: 87.60% 0;
        background-size: auto 100%;
    }
    94.4%{  
        background-position: 93.41% 0;
        background-size: auto 100%;
    }
    100%{  
        background-position: 99.31% 0;
        background-size: auto 100%;
    }
}
*/













